body{
    background-color: whitesmoke;

}

h1{
    text-align: center;
    background-color: pink;
}

#qualquer{ 
    text-align: center;
    background-color: rgb(255, 152, 226);
}

#outra{
    text-align: center;
    background-color: rgb(240, 163, 255);

}
.fundo{
    background-color: rgb(226, 129, 195);
    text-align: center;
}
#copyright{
    text-align: center;
    background-color: rgb(255, 0, 238);
     
}
.fora{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.dentro{
    background-color: violet;
    width: 200px;
    padding: 15px;
    border: 3px solid #ccc;
    border-radius: 8px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid black;

}
.card{
    background-color: #ff00dd;
    width: 200px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s;

}
.card:hover{
    transform: scale(1.05);
}
